@import 'foundation';
@import "../index";

$menuColor: $mainLight;
$hoverColor: $mainLightDarker;
$textColor: $mainDarkColor;

.dogo-navigation{
  background: $menuColor;
  font-size: 1.2em;

  ul {
    background: $menuColor;
  }
  .dogo-navigation-menu-item {
    &:hover {
      background: $hoverColor;
    }

    &.main {
      font-weight: bold;
    }

    & > a {
      color: $textColor;
    }
  }

  .dogo-navigation-right {
     li {
       margin-left: 7px;
       button {
         font-size: 1em;
       }
     }

  }
}
